.LoadingContainer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.DisabledLoader {
    position: absolute;
    background: rgba(255,255,255,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }